<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompactGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  
  <userSettings>
    <CompactGUI.My.MySettings>
      <setting name="IsContextMenuEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavedCompressionOption" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MinimisetoTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExperimentalBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NonCompressableList" serializeAs="String">
        <value>dl_; gif; jpg; jpeg; png; wmf; mkv; mp4; wmv; avi; bik; flv; ogg; mpg; m2v; m4v; vob; mp3; aac; wma; flac; zip; xap; rar; 7z; cab; lzx; docx; xlsx; pptx; vssx; vstx; onepkg</value>
      </setting>
      <setting name="SkipNonCompressable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResultsDB" serializeAs="String">
        <value />
      </setting>
      <setting name="ResultsDB_Date" serializeAs="String">
        <value />
      </setting>
    </CompactGUI.My.MySettings>
  </userSettings>
</configuration>
